* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Cabeçalho  pintado no CSS */
/* Fonte de letra usada no cabeçalho do site  */
header,
section h2,
section h3
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}
/* Fonte usada no resto do site  */

body input, textarea {
    font-family: 'Roboto', sans-serif;
}
/* Cabeçalho  pintado no CSS */
header {
    padding: 16px 0;
    background-color: #182C61;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none ;

}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
/* Corpo no sobre CSS */

/* Tamanho das imagens*/
.brand-list img {
    height: 75px;
}
/* logo um do lado do outro*/
.brand-list li {
    display:inline-flex;
    margin-right: 8px;
}
/* logo fincando do lado da imagens */
header .container, 
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
/* Descentralizando o corpo no site */
section .container {
    align-items: flex-start;
}
/* espaçamento entre paragrafos e as imagens e seus devidos espaço  */
section {
    padding: 24px 0;
}
/* Titulo H2 vai ter uma margem */
section h2 {
    margin-bottom: 16px;
}
/* Tudo que estiver dentro do paragrafo tera uma cor:*/
section {
    color: #182C61;
}
/* Pararafo P vai ter uma bordar */
section p {
    margin-bottom: 8px;
}
/* Margem no canto direito na imagem da loja  */
.store-front{
    margin-right: 32px;
}
/* Colocando fonte nova no site - https://fonts.google.com/*/

/* Fale Conosco */
/* ajustando as Imagens */
.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px; 
}

.social-links li a  {
    text-decoration: none;
}

/* ajustando o display */
#contact .container {
    display: block;
}
.contact-methods {
    display:flex;
    justify-content: space-between;
}

/* Formulário */
form input, 
form textarea,
form button {
    display: block;
    width:320px;
    margin-bottom: 8px;
    padding: 8px;
}
form textarea {
    resize: none;
    height: 180px;
}
section h3 {
    margin-bottom: 16px;
}

/* CoresFormulário */
form button {
    background-color: #182C61;
    color:#ecf0f1;
    border: none;
    cursor: pointer;
}
form button:hover {
    background-color: #6f8ee2; 
}

input:focus, textarea:focus {
    outline-color: #182C61 ;
}

/* Rodapé */

footer {
    background-color: #182C61;
    color:#ecf0f1;
    padding: 16px 0;
}

